@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  font-family: 'Manrope', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  font-family: 'Manrope', sans-serif !important;
}

.active > div > button{
border: .5px solid #99e9f2;
}


.mantine-Tooltip-tooltip {
  font-weight: 700;
}


.mantine-Spoiler-control{
  font-size: 14px;
  font-weight: 500;
}